#sophie-name {
    align-self: center;
    margin-bottom: .3em;
    color: var(--navy);
    font-size: 2em;
}

/* ICON STRIP */
#icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: .5em;
}

#icons > a {
    display: block;
    margin-right: .5em;
    padding: .4em;
    border-radius: .2em;
    color: black;
    line-height: 0;
}

#icons a:last-child { margin-right: 0; }

#icons a:hover, #icons a:focus {
    opacity: var(--link-opacity);
}

#icons > a > img {
    display: block;
    width: 1em;
    height: 1em;
}

#icons > a.text-icon {
    display: flex;
    align-items: center;
    height: 1em;
    padding: .5em .6em;
    color: white;
    font-size: .9em;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
}

#twitter { background-color: #1da1f2; }
#linkedin { background-color: #0077b5; }
#github { background-color: #181717; }
#blog {  background-color: var(--navy); }
#resume { background-color: #50506d; }

/* PROJECT SECTION */
.project-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0px;
    text-align: center;
}

.project-box > * {
    flex-grow: 1;
    display: block;
    position: relative;
    height: auto;
    max-width: calc(50% - 10px);
    margin: 5px;
}

.project-box * img {
    display: block;
    width: 100%;
    height: auto;
}

.project-box *:hover .overlay {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .2s ease;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    min-height: 1em;
    color: var(--text);
    font-size: 16px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-text h4 {
    font-size: 1.2em;
    color: var(--navy);
}


@media only screen and (max-width: 720px) {
    .project-box > * {
        max-width: calc(50% - 10px);
    }
}

@media only screen and (max-width: 480px) {
    .project-box > * {
        max-width: 100%;
    }
    .overlay {
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 1;
    }
}

