/*
positioning display
width height padding border margin
color
text
other
*/

:root {
    --bg: "#F0F8FF";
    --text: #1d2951;
    --grey: #777e96;
    --link: #2A5DB0;
    --navy: #004080;
    --accent: #1270be;
    /* --line-accent: #b7d4eb; */
    --line-accent: #dde3ee;
    --link-opacity: 0.7;

    --red: #EB380F;
    --orange: #E98C1C;
    --yellow: #F1D40E;
    --green: #00A851;
    --blue: #0096D4;
    --purple: #6B00D2;
}

.c-r { color: var(--red); }
.c-o { color: var(--orange); }
.c-y { color: var(--yellow); }
.c-g { color: var(--green); }
.c-b { color: var(--blue); }
.c-p { color: var(--purple); }
.c-dr { color: #d3320d; }
.c-dg { color: #008F45; }
.c-db { color: #0079AD; }

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    color: var(--text);
    background: white;
    font-family: "Roboto", "Helvetica Neue", "Trebuchet MS", Arial, sans-serif;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
}

code {
    font-family: Courier, monospace;
    font-weight: 500;
}

a {
    color: var(--link);
    text-decoration: none;
    background-color: #F0F8FF;
}

li > a {
    background-color: white;
}

a:hover, a:focus { text-decoration: underline; }

a:visited { color: var(--link); }

h1, h2, h3, h4, h5, h6 {
    color: var(--navy);
    font-family: "Helvetica Neue Semibold", sans-serif;
    font-weight: 600;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    color: var(--line-accent);
    padding: 0;
    margin: .5em 0 0;
    border: 0;
    border-top: 1px;
    border-style: solid;
}

p {
    width: 95%;
    line-height: 1.5;
}

caption {
    font-size: 20%;
}

#intro p, #misc p {
    /* TODO: extend to all paragraph blocks */
    max-width: 32em;
}

/* LAYOUT STYLES */
main {
    /* width: 60%; */
    /* max-width: 64em; */
    width: 48em;
    padding: 2%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
}

section p {
    text-align: left;
    margin: .6em 0;
}

/* Section heading */
section > h1 {
    margin-left: 30px;
    align-self: flex-start;
}

/* NAVIGATION MENU STYLES */
nav#float-nav {
    position: fixed;
    /* right: 82% */
    right: calc(50% + 26em);
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2% 0;
    /* border-right: 1px solid var(--line-accent);
    border-bottom: 1px solid var(--line-accent); */
    box-shadow: 1px 1px 4px var(--line-accent);
}

ul.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

ul.nav > li > a {
    font-size: 1em;
    font-weight: 600;
    display: block;
    padding: .8em 1.2em;
    color: var(--grey);
    text-decoration: none;
    background-color: none;
}

ul.nav > li > a:hover, ul.nav > li > a:focus {
    color: white;
}

.active {
    background-color: blue !important;
}

.rainbow-inv:hover, .rainbow-inv:focus {
    background-color: #dde3ee;
}

.c-r-inv:hover, .c-r-inv:focus, .c-r-inv:target  { background-color: var(--red); }
.c-g-inv:hover, .c-g-inv:focus, .c-g-inv:target  { background-color: var(--green); }
.c-b-inv:hover, .c-b-inv:focus, .c-b-inv:target  { background-color: var(--blue); }
.c-n-inv:hover, .c-n-inv:focus, .c-n-inv:target  { background-color: var(--navy); }

.rainbow-inv-active { color: white !important; background-color: #dde3ee; }
.c-r-inv-active { color: white !important; background-color: var(--red); }
.c-g-inv-active { color: white !important; background-color: var(--green); }
.c-b-inv-active { color: white !important; background-color: var(--blue); }
.c-n-inv-active { color: white !important; background-color: var(--navy); }

/* IMAGE DISPLAY HANDLING */

.image-full {
    display: block;
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
    margin: 5px;
    border: 2px solid var(--navy);
}

.image-full img {
    max-width: 100%;
}

.image-box {
    /*font-size: 0px;*/
    text-align: center;
}

.image-box img {
    height: auto;
    max-width: calc(50% - 10px);
    margin: 4px;
}

p.caption {
    text-align: center;
    margin: auto;
    font-size: 80%;
}


@media only screen and (max-width: 70em) {
    div#body {
        width: 100%;
    }
    nav#float-nav {
        display: none;
    }
}

@media only screen and (max-width: 32em) {
    .image-box img {
        max-width: 100%;
    }
}

